.message {
  display: flex;
  flex-direction: column;
}

.messageTop {
  display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.messageText {
  padding: 8px;
  background-color: #1877f2;
  border-radius: 24px;
  color: white;
  max-width: 300px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.messageBottom {
  font-size: 12px;
  margin-top: 8px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(248, 241, 241);
  color: #999;
}
