.rightbar {
  flex: 3;
}

.rightbarWrapper {
  padding: 24px 24px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.birthdayText {
  font-weight: 300;
}

.rightbarAd {
  width: 100%;
  margin: 32px 0;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.rightbarTitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
}

.rightbarFriendList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rightbarInfo {
  margin-bottom: 32px;
}

.rightbarInfoItem {
  margin-bottom: 8px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 16px;
  color: #777;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowBtn {
  margin-top: 24px;
  margin-bottom: 24px;
  border: none;
  color: white;
  background-color: #1872f2;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.rightbarFollowBtn:focus {
  outline: none;
}

.rightbarFollowings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 24px;
  text-decoration: none;
  color: #777;
  text-align: center;
}

.rightbarFollowingImg {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
