.share {
  width: 100%;
  -webkit-box-shadow: 0px 0px 17px -9px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 0px 17px -9px rgba(0, 0, 0, 0.69);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.shareWrapper {
  padding: 12px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareImg {
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-right: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.shareInput {
  border: none;
  width: 75%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 16px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 16px;
}

.shareOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 16px;
}

.shareIcon {
  margin-right: 4px;
}

.shareOptionText {
  font-size: 12px;
  font-weight: 500;
}

.shareBtn {
  padding: 8px;
  border: none;
  color: white;
  margin-right: 16px;
  font-weight: 500;
  background-color: green;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareTopImg {
  width: 100%;
  object-fit: cover;
}

.shareCancel {
  position: absolute;
  top: 0;
  right: 24px;
  cursor: pointer;
  opacity: 0.7;
}
